/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/

# Fichiers de solution Visual Studio / Rider
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.svclog
*.com.apple.itunes.plist

# Dossiers spécifiques à l'OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Dossier de builds Android/iOS
/[Aa]ssets/Plugins/Android/assets/